$color-1: #FFFE14;
$color-2: #FEBF00;
$color-3: #ED1B24;
$color-4: #a9e4ff;
$color-5: #083e57;
$color-6: #222222;
$color-7: #FEFEFE;

:root {
    font-size: .9em;
}

* {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;

    input {
        width: 100%;
        padding: .3em .8em;
        border-radius: .4em;
        border: 1px solid #AAA;
        outline: none;
    }

    .error {
        color: red;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: .5em 1em;
    cursor: pointer;
    background: $color-5;
    color: $color-7;
}


.first-navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: rgba($color-5, 100%);
    color: $color-7;

    .first-navbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        padding: 1em;

        .first-navbar__banner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            .banner__logo {
                display: flex;
                align-items: center;
                gap: .3em;

                img {
                    height: 3em;
                }
            }

            .banner__text {
                display: flex;
                flex-direction: column;
                gap: .2em;

                header {
                    font-size: 1.7em;
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }

        .first-navbar__menu {
            display: flex;
            gap: .5em;

            .menu__item {
                position: relative;
                padding: .3em .8em;
            }

            .menu__dropdown {
                position: absolute;
                display: none;
                grid-template-columns: 12em 12em 12em;
                right: 0;
                margin-top: 1.82em;
                padding: 1em;
                background: lighten($color-5, 10%);
                
                .dropdown__item {
                    height: fit-content;
                    width: 15em;
                    padding: .5em;
                    
                    &:hover {
                        background: #DDDDDD10;
                    }
                }
            }
        }
    }
}
.second-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-4;
    color: $color-6;

    .second-navbar__container {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        max-width: 1000px;
        padding: .3em 1em;

        .second-navbar__menu {
            display: flex;
            gap: .5em;
            font-size: .9em;

            .menu__item {
                display: flex;
                align-items: center;
                gap: .5em;
                padding: .3em .5em;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    line-height: 1;
                }

                i {
                    font-size: 1.3em;
                    line-height: 0;
                }
            }

            .menu__dropdown {
                display: none;
            }
        }
    }
}
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;

    .jumbotron__container {
        position: relative;
        display: flex;
        gap: 1em;
        height: 600px;
        padding: 3em 1em;
        width: 100%;
        overflow: hidden;
        
        .jumbotron__slide {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5em;
            width: 100%;
            overflow: hidden;
        
            > i {
                font-size: 2em;
                opacity: .5;
                z-index: 5;
                cursor: pointer;
                color: $color-7;
                
                &:hover {
                    opacity: 1;
                }
            }
            
            .slide__menu {
                width: 100%;
                max-width: 1000px;
                height: 100%;
                overflow: hidden;
        
                .slide__item {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    overflow: hidden;
                    transform: scale(1.05);
                    transition: opacity 0.9s ease, transform 0.9s ease;
                    z-index: 3;
                    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                        background: linear-gradient(90deg, rgba(darken($color-3, 30%), 90%), rgba(darken($color-2, 10%), 40%));
                    }
                    
                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }

                    &.prev {
                        opacity: 0;
                        transform: scale(1.05);
                    }
        
                    .item__content {
                        display: flex;
                        flex-direction: column;
                        width: 1000px;
                        gap: 1em;
                        color: $color-7;
        
                        .item__title {
                            font-size: 2em;
                            max-width: 40em;
                            font-weight: bold;
                            color: #FFFFFF;
                        }
        
                        .item__subtitle {
                            max-width: 40em;
                            opacity: .7;
                        }
        
                        .item__button {
                            margin: 1.5em 0 0;
                            background: rgba($color-7, 20%);
                            border: 1px solid #FFFFFF50;
                            color: $color-7;
                        }
                    }
                    
                    img {
                        position: absolute;
                        object-fit: cover;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: -5;
                        transform: scale(1.3) translate(1em, 1em);
                        transition: transform 5s ease; // zoom pelan 4 detik
                    }
                    
                    &.active img {
                        transform: scale(1) translate(0, 0); // zoom masuk
                    }
                }
            }            
        }        
    }
}
.sipenjamu {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(-90deg, $color-2, rgba($color-2, 70%));
    
    .sipenjamu__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        padding: 9em 1em 6em;
        
        .sipenjamu__data {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -4em;
            right: 0;
            left: 0;
            gap: 2em;
            z-index: 20;
            
            .data__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 8em;
                width: 24em;
                padding: 1em 3em;
                border-radius: 1em;
                background: radial-gradient(#FFFFFFAA, #FFFFFFEE);
                backdrop-filter: blur(2px);
                
                .data__title {
                    line-height: 1.5;
                    text-align: center;
                    color: $color-5;
                }
                
                span {
                    font-size: 2.6em;
                    font-weight: 800;
                    color: $color-5;
                }
            }
        }
        
        .sipenjamu__header {
            display: flex;
            flex-direction: column;
            
            .header__title {
                font-size: 2.2em;
                font-weight: bolder;
                color: $color-5;
            }
            
            .header__subtitle {
                font-size: 1.1em;
                padding: .3em 1em;
                background: $color-3;
                color: rgba($color-7, 80%);
            }
        }
        
        .sipenjamu__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .8em;
            width: fit-content;
            padding: .5em 1em;
            border-radius: 9999px;
            background: rgba($color-1, 50%);
            
            img {
                height: 4em;
            }
        }
        
        .sipenjamu__button {
            font-size: 1.3em;
        }
    }
    
    > img  {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
}
.grafik-akreditasi {
    display: flex;
    justify-content: center;
    
    .grafik-akreditasi__container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        max-width: 1000px;
        padding: 6em 1em 2em;
        
        .grafik-akreditasi__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            height: 300px;
            padding: 2em 1em;
            border-radius: .8em;
            box-shadow: 3px 3px 10px #33333310;
            border: 1px solid #DDD;
            background: $color-7;
            
            .item__title {
                font-size: 1.1em;
                font-weight: bold;
                
            }
        }
        
        .grafik-akreditasi__tab {
            display: flex;
            overflow: hidden;
            border-radius: .8em;
            box-shadow: 3px 3px 10px #33333310;
            border: 1px solid #DDD;
            // gap: 1em;
            
            .tab__menu {
                display: flex;
                flex-direction: column;
                align-items: start;
                text-align: start;
                width: 400px;
                padding: 1em;
                background: #a8dcee;
                
                
                button {
                    text-align: start;
                    width: 100%;
                    padding: .3em .8em;
                    cursor: pointer;
                    border-radius: .4em;
                    color: #333333;
                    
                    &.active {
                        background: rgba($color-7, 60%);
                        color: $color-6;
                    }
                    
                }
            }
            
            .tab__content {
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow: hidden;
                
                .content__title {
                    font-weight: bold;
                    padding: .6em 1em;
                    background: #e7f8ff;
                    color: $color-6;
                }
                
                table {
                    width: 100%;
                    
                    tr {
                        th {
                            font-size: .8em;
                            padding: .5em .8em;
                            border: 1px solid #dfdfdf;
                            background: #14597b;
                            color: $color-7;
                        }
                        
                        td {
                            border: 1px solid #DDD;
                            padding: .3em .8em;
                        }
                    }
                }
            }
        }
    }
}
.sambutan {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .sambutan__container {
        display: flex;
        align-items: center;
        gap: 4em;
        padding: 4em 1em;
        
        .sambutan__photo {
            position: relative;
            
            img {
                aspect-ratio: 5/6;
                object-fit: cover;
                width: 20em;
            }
            
            &::before {
                content: '';
                position: absolute;
                top: 1em;
                right: -1em;
                bottom: -1em;
                left: 1em;
                background: $color-4;
                z-index: -1;
            }
        }
        
        .sambutan__right {
            display: flex;
            flex-direction: column;
            padding: 2em;
            gap: .5em;
            width: 600px;
            
            .sambutan__title {
                font-size: 1.8em;
                font-weight: bolder;
                color: $color-5;
            }
            
            .sambutan__subtitle {
                font-size: 1.5em;
                font-weight: bold;
                margin: 0 0 1em;
                color: darken($color-4, 10%);
            }
            
            .sambutan__body {
                line-height: 1.8;
            }
        }
    }
}
.berita {
    display: flex;
    justify-content: center;
    
    .berita__container {
        display: flex;
        flex-direction: column;
        gap: 3em;
        width: 1000px;
        padding: 4em 1em;
        
        .berita__header {
            display: flex;
            flex-direction: column;
            gap: .5em;
            
            .header__title {
                font-size: 2em;
                font-weight: bold;
                color: $color-5;
            }
            
            hr {
                width: 8em;
                border: 2px solid $color-4;
            }
        }
        
        .berita__post {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
            
            .post__top {
                display: flex;
                gap: 2em;
                
                .post__thumbnail {
                    aspect-ratio: 5/3;
                    object-fit: cover;
                    width: 30em;
                }
                
                .item__right {
                    display: flex;
                    flex-direction: column;
                    gap: .4em;
                    padding: 1em;
                    
                    .post__title {
                        font-size: 1.9em;
                        font-weight: bold;
                        color: $color-5;
                    }
                    
                    .item__info {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                        font-size: 1.2em;
                        
                        small {
                            display: flex;
                            align-items: center;
                            gap: .3em;
                        }
                    }
                    
                    .post__excerpt {
                        margin: 1em 0 0;
                        color: rgba($color-6, 60%);
                    }
                    
                    .post__button {
                        margin: 2em 0 0;
                        background: $color-4;
                        color: $color-6;
                    }
                }
            }
            
            .post__bottom {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2em;
                
                .post__item {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    
                    .post__thumbnail {
                        aspect-ratio: 5/3;
                        object-fit: cover;
                        object-position: center;
                    }
                    
                    .item__bottom {
                        display: flex;
                        flex-direction: column;
                        gap: .4em;
                        height: 100%;
                        
                        .post__title {
                            font-size: 1.1em;
                            font-weight: bold;
                            color: $color-5;
                        }
                        
                        .item__info {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                            margin: 0 0 1em;
                            opacity: .5;
                            
                            small {
                                display: flex;
                                align-items: center;
                                gap: .3em;
                            }
                        }
                        
                        .post__button {
                            width: 100%;
                            margin-top: auto;
                            background: $color-4;
                            color: $color-6;
                        }
                    }
                }
            }
            
            .berita__button {
                margin: 1.5em 0 0;
                background: $color-5;
                color: $color-7;
            }
        }
    }
}
.info {
    display: flex;
    justify-content: center;
    
    .info__container {
        display: flex;
        justify-content: space-between;
        gap: 3em;
        width: 100%;
        max-width: 1000px;
        padding: 4em 1em;
        
        .agenda {
            display: flex;
            width: 450px;
            
            .agenda__container {
                display: flex;
                flex-direction: column;
                gap: 3em;
                
                .agenda__header {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    width: fit-content;
                    
                    .header__title {
                        font-size: 1.4em;
                        font-weight: bold;
                        color: $color-5;
                    }
                    
                    hr {
                        border: 1px solid $color-4;
                    }
                }
                
                .agenda__list {
                    display: flex;
                    flex-direction: column;
                    
                    .list__item {
                        display: flex;
                        gap: 1.2em;
                        padding: .5em 0;
                        border-bottom: 1px dashed #AAA;
                        
                        .item__time {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            aspect-ratio: 1/1;
                            height: 4em;
                            padding: 0 0 .3em;
                            border-top: 4px solid darken($color-3, 20%);
                            background: $color-3;
                            color: $color-7;
                            
                            .time__date {
                                font-size: 1.6em;
                                font-weight: 800;
                                line-height: 1;
                            }
                        }
                        
                        .item__title {
                            font-size: 1.05em;
                        }
                    }
                }
            }
        }
        
        .pengumuman {
            display: flex;
            justify-content: center;
            width: 450px;
            
            .pengumuman__container {
                display: flex;
                flex-direction: column;
                gap: 3em;
                
                .pengumuman__header {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;
                    width: fit-content;
                    
                    .header__title {
                        font-size: 1.4em;
                        font-weight: bold;
                        color: $color-5;
                    }
                    
                    hr {
                        border: 1px solid $color-4;
                    }
                }
                
                .pengumuman__list {
                    display: flex;
                    flex-direction: column;
                    
                    .list__item {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                        padding: 1em 0;
                        border-bottom: 1px solid #EFEFEF;
                        
                        > img {
                            height: 4em;
                        }
                        
                        .item__right {
                            display: flex;
                            flex-direction: column;
                            gap: .4em;
                            
                            .item__date {
                                display: flex;
                                align-items: center;
                                gap: .3em;
                                opacity: .5;
                            }
                            
                            .item__title {
                                font-size: 1.05em;
                            }
                        }
                    }
                }
            }
        }
    }
}


.article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 1em;

    .article__container {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
        max-width: 700px;

        .article__title {
            font-size: 2.4em;
            font-weight: bold;
            color: $color-6;
        }

        .article__info {
            display: flex;
            align-items: center;
            gap: 1.4em;

            small {
                display: flex;
                align-items: center;
                gap: .3em;
                color: #888;
            }
        }

        .article__cover {
            display: flex;
            flex-direction: column;
            margin: 2em 0;

            img {
                width: 100%;
            }
        }
    }
}

section.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2em 1em;

        .header__container {
            display: flex;
            align-items: center;
            width: 800px;
            padding: 2em 1em;

            .title {
                font-size: 2.8em;
                font-weight: bolder;
                text-shadow: 3px 3px 8px #00000020;
                color: $color-7;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(-90deg, rgba($color-2, 70%), rgba($color-3, 70%));
            z-index: -1;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -2;
            filter: grayscale(1);
        }
    }

    section:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        padding: 4em 1em;

        p {
            line-height: 1.8;
            margin-bottom: 1.5em;
            color: #333333;
        }

        h5 {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: .6em;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;
            gap: 1em;
            padding: 0 0 0 2em;
            
            li {
                list-style: disc;
            }
        }
    }
}

body.dashboard {
    display: flex;
    min-height: 100vh;

    section.sidebar {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 250px;
        background: $color-5;
        color: $color-7;

        .sidebar__container {
            padding: 1.5em;
        }
    }

    section:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        padding: 2em;

        >header {
            font-size: 2em;
            font-weight: bold;
            color: $color-5;
        }
    }
}
